    {% block sidebar %}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
            <form id="side-bar-search">
                <input placeholder="Pesquisar" id="side-bar-search-input">
            </form>
            <a href="{{ path('component_index') }}">Componentes</a>
            <a href="{{ path('surrounding_index') }}">Ambientes</a>
            <a href="{{ path('component_index') }}">Cenário</a>
            <!--
            surrounding_index
            set_index
            -->
        </div>
    {% endblock %}