    {% block sidebar %}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
            <form id="side-bar-search">
                <input placeholder="Pesquisar" id="side-bar-search-input">
            </form>
            <a href="/componentes">Componentes</a>
            <a href="/Ambientes">Ambientes</a>
            <a href="/Cenários">Cenários</a>
        </div>
    {% endblock %}