<div class="row" style="font-size: 20px;">
    <div class="col-xs-1">
        <a href="{{ path('base_homepage') }}">
            <i class="fas fa-arrow-circle-left" style="margin-top: 4px; font-size: 30px;"></i>
        </a>
    </div>
    <div class="col-xs-8">
        {{ asprega_breadcrumb() }}
    </div>

    <hr style="border: 1px solid purple; border-radius: 5px; width: 80%; margin-bottom: 5px">
</div>