{% extends 'base.html.twig' %}

{% block title %}
    Editar componente
{% endblock %}


{% block content %}
    <div class="col-xs-12">
        {{ include('component/breadcrumb.html.twig') }}

        {{ include('component/_form.html.twig', {form: edit_form}, {delete_form: delete_form}) }}

    </div>
{% endblock %}
