{% extends 'base.html.twig' %}

{% block title %}
    Componentes
{% endblock %}


{% block fos_user_content %}
    <!-- Default switch -->
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Toggle this switch element</label>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
    }

    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    </script>
{% endblock %}