<div class="row" style="font-size: 20px;">

        {{ asprega_breadcrumb() }}

        <hr style="border: 1px solid purple; border-radius: 5px; width: 80%; margin-bottom: 5px; margin-top: 0px">

</div>