{% extends 'base.html.twig' %}

{% block title %}
    Adicionar componente
{% endblock %}


{% block content %}
    <div class="col-xs-12">
        {{ include('component/breadcrumb.html.twig') }}

        {{ include('component/_form.html.twig', {form: form}) }}
    </div>
{% endblock %}

