{% extends 'base.html.twig' %}

{% block title %}
    Editar ambiente
{% endblock %}

{% block content %}
    <div class="col-xs-12">

        {{ include('surrounding/breadcrumb.html.twig') }}

        {{ include('surrounding/_form.html.twig', {form: edit_form})}}

    </div>
{% endblock %}


